body {
    margin: 0;
    font-family: Arial, sans-serif;
}

section.product {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #c9d6df, #f4f4f4);
}

.card {
    width: 250px;
    height: 370px; 
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin:8px;
}


.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card .gambar img {
    width: 100%;
    max-width: 120px; 
    border-radius: 10%;
    margin-bottom: 10px;
}

.card .nama {
    font-size: 1.1em;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
}

.card .deskripsi {
    font-size: 0.9em;
    color: #666;
    min-height: 30px;
    margin-bottom: 8px;
}

.card .harga {
    font-size: 1.1em;
    font-weight: bold;
    color: #333;
    margin-bottom: 12px;
}

.card button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.card button:hover {
    background-color: #0056b3;
}


.card .medsos {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.medsos .icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f0f0;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 0.9em;
    transition: background 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}

.medsos .icon-box i {
    margin-right: 5px;
}

.medsos .icon-box:hover {
    background: #007bff;
    color: white;
    transform: scale(1.1);
}
